@import url("https://fonts.googleapis.com/css?family=Roboto:300,400|Yeseva+One&display=swap");

* {
  outline: none !important;
  color: #454545;
  scroll-behavior: smooth
}

body {
  font-family: "Roboto", sans-sans-serif;
}

header {
  position: relative;
  z-index: 1000000;
}

p {
  font-size: 1.1em;
}

/* navbar section */
.navbar {
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 0;
}

.navbar:hover {
  background-color: rgba(255, 255, 255, 0.8) !important;
  transition: 0.4s;
}

.nav-link:hover {
  color: #FFF !important;
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0.3);
}

/* section 1 - home banner  */
.sec1Banner {
  position: relative;
  background-image: url('img/sec1Banner.JPG');
  background-size: cover;
  padding-top: 100px;
  min-height: 90vh;
  padding-bottom: 100px;
}

.sec1Banner .container {
  margin-top: 15vh;
}

.sec1Banner h2 {
  font-weight: bold;
  color: #fff;
  font-size: 5em;
}

.sec1Banner p {
  font-weight: 300;
  color: #f1fffa;
}

.sec1Banner p span {
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* section 2 motivation  1 */
.sec2Mot {
  background-color: #fff;
  padding-bottom: 15vh;
  min-height: 90vh;
}

.sec2Mot h2 {
  font-weight: bold;
  color: #454545;
  font-size: 5em;
  padding-top: 100px;
}

.sec2Mot p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  overflow-wrap: break-word;
  text-align: justify;
}

.sec2Mot h4 {
  color: #454545;
}

.sec2Mot h4:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: 0.3s;
}

/* sec3About */
.sec3About {
  position: relative;
  background-image: url('img/sec3About.JPG');
  background-size: cover;
  min-height: 90vh;
  padding-top: 15vh;
  padding-bottom: 100px;
}

.sec3About h2 {
  font-size: 5em;
  color: #fff;
  font-weight: bold;
}

.sec3About p {
  color: #fff;
  margin-bottom: 10px;
}

.sec3About .btnD1 {
  border: 0.5px solid #fff;
  color: #fff;
  width: 200px;
  height: 30px;
  margin: 20px 10px;
  border-radius: 20px;
  padding-top: 3px;
}

.sec3About .btnD1:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #454545;
  transition: 0.5s;
}

.sec3About .btnD1 i {
  color: #fff;
}

/* section 4 resume section */
.sec4Resume {
  position: relative;
  background-color: #fff;
}

.sec4Resume .blogpost {
  padding: 20px 15px;
}

.sec4Resume h4 {
  padding: 5px 0;
  text-transform: capitalize;
  font-weight: bold;
  color: #454545;
  padding: 5px 1px;
  text-align: center;
}

.sec4Resume h4.comp:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: 0.3s;
}

.sec4Resume p {
  font-size: 0.8em;
  overflow-wrap: break-word;
  text-align: justify;
}

.fas .fa-download {
  color: #454545;
}

/* resume pdf embed section */
.pdfEmbed {
  padding: 50px 0;
}

.pdfEmbed h3 {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 1px;
}

.pdfEmbed h3:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.pdfEmbed p {
  margin-left: 50px;
}

.pdfEmbed .panel-collapse {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px 0 30px 30px;
}

.pdfEmbed embed {
  width: 90%;
  min-height: 500px;
}

/* section 5 front end section */
.sec5Front {
  position: relative;
  background-image: url('img/sec5Front.jpeg');
  background-size: auto;
  height: 90vh;
  padding-top: 15vh;
  padding-bottom: 100px;
}

.sec5Front h2 {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
}

.sec5Front p {
  color: #fff;
  padding-bottom: 20px
}

.sec5Front .imgSkill img {
  max-height: 120px;
}

/* section 6 projects section */
.sec6Pj {
  margin: 50px 0;
}

.sec6Pj .frontEnd {
  padding: 20px;
  margin: 10px 0;
  border: 1px dotted #d5c7bc;
}

.sec6Pj .frontEnd h4 {
  padding: 15px 0;
  text-transform: capitalize;
  font-weight: bold;
  color: #454545;
  padding: 10px 1px;
  text-align: center;
}

.sec6Pj .frontEnd h4:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
  transition: 0.3s;
}

.sec6Pj p {
  font-size: 0.8em;
  overflow-wrap: break-word;
  text-align: justify;
}

/* section 7 contact me section */
.sec7Contact {
  position: relative;
  background-image: url('img/sec7Contact.jpeg');
  background-size: cover;
  padding: 100px 0 50px 0;
}

.sec7Contact h2 {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
}

.sec7Contact .iconSNS {
  padding-bottom: 15px;
}

.sec7Contact .btnD1 {
  border: 0.5px solid #fff;
  color: #fff;
  width: 200px;
  height: 30px;
  margin: 10px 10px;
  border-radius: 20px;
  padding: 3px;
}

.sec7Contact .btnD1:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #454545;
  transition: 0.5s;
}

.sec7Contact .btnD1 i {
  color: #fff;
}

.sec7Contact p {
  color: #fff;
}

.sec7Contact .form-group {
  margin: 5px 0;
}

.sec7Contact label {
  font-weight: bold;
  color: #fff;
}

.sec7Contact input:hover {
  background-color: #93b7be;
}

.sec7Contact input:focus {
  background-color: #93b7be;
  color: #fff;
  border-bottom: 4px solid #f1fffa;
}

.sec7Contact textarea:hover {
  background-color: #93b7be;
}

.sec7Contact textarea:focus {
  background-color: #93b7be;
  color: #fff;
  border-bottom: 4px solid #f1fffa;
}

.sec7Contact button {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  color: #fff;
  width: 250px;
  margin: 25px 0 0 0;
}

.sec7Contact button:hover {
  background-color: #fff;
}

.sec7Contact p.cpryt {
  margin: 25px 0;
  color: #fff;
}

.sec7Contact p.cpryt a {
  color: #fff;
}
